<!DOCTYPE html>
<html>
    <head>
        <title>Nature Tour</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/cc61518ae6.js"></script>
        <link rel="icon" class="icon" href="/img/logo2.png">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
     </head>
  
    <body>
       <div class="main-container">
                <div class="header">
                   <span class="element  img">
                       <img src="/img/logo2.png"  alt="logo" height="75px" width="75px" >
                   </span>
                   <span class="element heading">
                       <h2>Nature Tour</h2>
                   </span>
                   <span class="element textfield">
                       <input type="text" name="search" class="search" placeholder="Search value" ><i class="fas fa-microphone" onclick="speak()"></i>
                   </span>
                   <span class="element btn">
                       <form action="/logout" method="post">
                       <input type="submit" class="element" value='Logout' >
                       </form>
                   </span>
                </div>       
              
                <div class='main'>
                      <div class="left-area">

                      </div>
                      <div class="center-area">
                            <div class="add_post_area">
                                <form action="/Main" method="POST"  enctype="multipart/form-data">
                                  <div class="upper-postcontent" style="border: 1px solid green">
                                       <img src="data:image/jpg;base64, {{userImage}}" alt="logo" height="70px" style="border-radius: 50%;">
                                       <textarea name="PostInfo" class="textarea" rows="5" cols="50" placeholder="Write a Post" required ></textarea>
                                       <br>
                                      
                                       <div class="image-upload">
                                            <label for="file-input">
                                                <i class="fas fa-camera"></i>
                                            </label>

                                            <input id="file-input" type="file"  name="Image" />
                                        </div>
                                       <div class="video-upload">
                                        <label for="file-input">
                                            <i class="fas fa-video"></i> 
                                         </label>

                                          <input id="file-input" type="file" name="Video" />
                                       </div>
                                  </div>
                                  <div class="lower-postcontent" style="1px solid red">
                                       <button class="color:grey" style="display: inline-block; "> Post</button>
                                  </div>
                                   
                                    
                                </form>
                                  

                                
                            </div>

                            {{!-- for post upload --}}
                            <div class="main--post">
                                {{!-- <div class="image">
                                     <img src="img/man.png" alt="logo" height="50px" style="margin-left: 35px;margin-top:15px;float:left">
                                </div>
                                <div class="info">
                                     <h2 style="padding-top:5px">Tapendra</h2>
                                     <p style="margin-top: -15px; margin-left:5px">India</p>
                                </div>
                                
                                <div class="paragraph">
                                      <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium velit, nobis quisquam dolores saepe, quasi quidem itaque similique id libero asperiores totam ducimus ea perspiciatis nemo labore cumque fugiat quam?</p>
                          
                                </div>
                                <div class="image--video">
                                    <img src="img/back.jpg" height="200px" width="600px;">
                                </div>
                
                                 <div class="icons">
                                     <i class="far fa-thumbs-up"></i>
                                     <i class="fas fa-map-marked-alt"></i>
                                 </div> --}}


                             </div>
                      </div>
                      {{!-- for right content --}}
                      <div class="right-area">

                      </div>
                </div>
               
       </div> 
   <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
   <script src="/js/renderPost.js"></script>

      <script>
           const left_box = document.querySelector('.left-area');
           const right_box = document.querySelector('.right-area')

        window.addEventListener('scroll',function (e) {

                 if(Math.floor(window.scrollY) > 100) {

               left_box.style.marginTop = Number(Math.floor(window.scrollY) - 80)  + 'px'
               right_box.style.marginTop = Number(Math.floor(window.scrollY) - 80)  + 'px'
           } else {
               left_box.style.marginTop = 0 + 'px'
               right_box.style.marginTop = 0 + 'px'
           }
        })
        
       </script>
    </body>  
 
</html>