<!DOCTYPE html>
<html>
    <head>
        <title>Nature Tour</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/cc61518ae6.js"></script>
        
        <link rel="icon" class="icon" href="img/logo2.png">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        
     </head>
  
    <body>
       <div class="main-container">
                <div class="header">
                    <h2>Nature Tour</h2>
                  
                </div>       
              
                <div class='main'>
                    <div class="content">
                      <h1> A New World of Tourist</h1>
                      <p id="detail">Nature refers to the physical world and all forms of life species on earth in general.
                           Our natural ecosystem is the community of biotic and abiotic components.
                            The biotic components are the living organisms that also include humans. 
                            Abiotic components are the non-living components such as air, water, minerals and soil. 
                            The biotic and abiotic components are interrelated and interact with each other through energy flow.</p>
                        <a href="#" class="btn btn--green">Read More</a>
                    </div>
                    <div class="formclass">
                      <div class="selectors">
                          <a href="#" class="signupbtn">Sign UP</a>
                          <a href="/Signin" class="signinbtn">Sign In</a>

                      </div>
                      
                          <div class="form1">
                              <form action="/" method="POST" enctype="multipart/form-data">
                                <br><r></r>
                             <center> <div class="image-upload">
                                    <label for="file-input">
                                        <img src="img/man.png" height='100px' style="z-index: 0.8">
                                        <i class="fas fa-camera" style="position: relative; bottom:10px"></i>
                                    </label>

                                    <input id="file-input" type="file"  name="UserImage" required/>
                                 </div></center> 
                                {{!-- <center><img src="img/man.png" height='100px'></center>--}}
                                <br><br> 
                                <i class="far fa-user"></i>
                                <input type="text" class="username" name="username" placeholder="Username" required><br><br>
                                <i class="far fa-envelope"></i>
                                <input type="email" class="email" name="email" placeholder="Email ID" required><br><br>
                                <i class="fas fa-unlock"></i>
                                <input type="password" class="password" name="password" placeholder="Password" required><br><br>
                                <i class="fas fa-globe-asia" onclick="country()"></i>
                                <input type="text" class="country" name="country" placeholder="Country" required><br><br>
                                <button class="submit">Create Account</button><br><br>
                              </form>
                          </div>

                         
                    </div>
                </div>

       </div> 
       <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
        <script SRC="/js/signup.js"></script>
         
    </body>  
    
</html>