<!DOCTYPE html>
<html>
    <head>
        <title>Nature Tour</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/cc61518ae6.js"></script>
        
        <link rel="icon" class="icon" href="img/logo2.png">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <script SRC="/js/signup.js"></script>
     </head>
  
    <body>
       <div class="main-container">
                <div class="header">
                    <h2>Nature Tour</h2>
                </div>       
              
                <div class='main'>
                    <div class="content">
                      <h1> A New World of Tourist</h1>
                      <p id="detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Quam necessitatibus at, culpa dignissimos delectus dolor beatae dolorem! 
                        Quod aperiam dolores eligendi, quae saepe deserunt? Aliquam sed ex voluptatum harum sint.</p>
                        <a href="#" class="btn btn--green">Read More</a>

                        <h2>Please alse Check OTP in Spam </h2>
                    </div>
                    <div class="formclass">
                      <div class="selectors">
                          <a href="/" class="signupbtn">Sign UP</a>
                          <a href="/Signin" class="signinbtn">Sign In</a>

                      </div>
                      
                          <div class="form1">
                              <form action="/Signupconfirm" method="POST">
                                <br><r></r>
                                <center><img src="img/man.png" height='100px'></center><br><br>
                                <i class="far fa-envelope"></i>
                                <input type="email" class="email" name="email" placeholder="Email ID" required><br><br>
                                <i class="far fa-user"></i>
                                <input type="number" class="number" name="otp" placeholder="OTP" required><br><br>
                              
                              
                                <button class="submit">Submit OTP</button><br><br>
                              </form>
                          </div>

                         
                    </div>
                </div>

       </div> 
       
    </body>  
    
</html>