<!DOCTYPE html>
<html>
    <head>
        <title>Nature Tour</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/cc61518ae6.js"></script>
        <link rel="icon" class="icon" href="/img/logo2.png">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
     </head>
  
    <body>
       <div class="main-container">
                <div class="header">
                   <span class="element  img">
                       <img src="/img/logo2.png"  alt="logo" height="75px" width="75px" >
                   </span>
                   <span class="element heading">
                       <h2>Nature Tour</h2>
                   </span>
                   <span class="element textfield">
                       <input type="text" name="search" class="element" placeholder="Search value" ><i class="fas fa-microphone"></i>
                   </span>
                   <span class="element btn">
                       <input type="submit" class="element" value='Logout' >
                   </span>
                </div>       
              